*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 0.5px solid #d9d9d9;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 400px;
}

.nav-menu a{
    color:  #353535;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 11px;
}

.nav-menu hr{
    height: 50px;
}

.locatsion{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.fa-location-dot{
    font-size: 22px;
    color: red;
}

.locatsion p{
    font-size: 14px;
    color: #353535;
}

.locatsion a{
    font-size: 11px;
    color: red;
}

.contact-number{
    font-size: 16px;
    color: #353535;
}

.contact-work{
    font-size: 14px;
    color: #353535;
}

.contact i{
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 6px;
    margin-top: 10px;
}

.container-about h1{
    font-size: 40px;
    color:  #353535;
    text-transform: uppercase;
}

.container-about p{
font-size: 20px;
font-weight: 300;
color: #BB3024;
margin-top: 20px;
}

.about-btn{
    position: relative;
    width: 298px;
    height: 80px;
    margin: 40px 0 70px;
}

.about-btn button{
    width: 300px;
    height: 87px;
    font-size: 14px;
    color: #353535;
    font-weight: 500px;
    border-radius: 87px;
    border: 0.7px solid #D9D9D9;
    text-align: start;
    background-color: #fbfbfb;
    padding-left: 30px;
    margin-bottom: 30px;
}

.about-btn img{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 5px;
    top: 5px;

}

.karta{
    width: 400px;
    height: 180px;
}

.img-item{
    width: 835px;
}

.img-group{
    display: flex;
    column-gap: 30px;
    width: 755px;
    height: 350px;
    background-color: white;
    position: relative;
    bottom: 130px;
}

.img-group img{
    width: 220px;
    height: 300px;
    margin-top: 30px;
}

.main-content{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content-item img{
     width: 500px;
     height: 500px;
}

.content-item p{
    font-size: 40px;
    color: #353535;
}

.content-item a{
    font-size: 14px;
    color: #BB3024;
    text-decoration: none;
    border-bottom: 1px solid #BB3024;
    padding-bottom: 6px;
    text-align: end;
}

.content-item2 img{
    width: 500px;
    height: 500px;
}

.content-item2 p{
   font-size: 40px;
   color: #353535;
}

.content-item2 a{
   font-size: 14px;
   color: #BB3024;
   text-decoration: none;
   border-bottom: 1px solid #BB3024;
   padding-bottom: 6px;
}

.content-left{
    position: relative;
    top: 150px;
    right: 50px;
    
}

.content-right{
    position: relative;
    top: 150px;
    left: 330px;
    text-align: end;
    width: 200px;
}

.albom-img{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.albom{
    width: 390px;
    height: 348px;
    margin: 5px;
    padding: 100px 100px 0;
    text-align: center;
}

.albom img{
    width: 200px;
    margin-bottom: 20px;
    height: 70px;
}

.albom a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-size: 14px;
    padding-top: 10px;
}

.item1{
    background: url(img/image\ 22.png)center/cover;
}

.item2{
    background: url(img/image\ 23.png)center/cover;
}

.item3{
    background: url(img/image\ 24.png)center/cover;
}

.item4{
    background: url(img/image\ 66.png)center/cover;
}

.item5{
    background: url(img/image\ 65.png)center/cover;
}

.item6{
    background: url(img/image\ 67.png)center/cover;
}

.albom-btn{
    width: 320px;
    height: 75px;
    border: 0.7px solid #D9D9D9;
    border-radius: 87px;
    font-weight: 500;
    font-size: 14px;
    color: #353535;
    display: block;
    margin: 40px auto;
} 

.main-about{
    width: 100%;
    height: 350px;
    background: url(img/Mask\ group\ 6.png)center/cover;
    background-color: #BB3024;
}

.main-display{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    padding-top: 50px;
}

.main-about-p{
    font-size: 30px;
    color: white;
    font-weight: 250;
    width: 500px;
    text-transform: uppercase;
    line-height: 40px;
}

.main-about-text{
    color: white;
    font-size: 18px;
    font-weight: 300;
    width: 590px;
} 

.collection-text{
    max-width: 1200px;
      margin: 100px auto 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.collection-text p{
    font-size: 50px;
    text-transform: uppercase;
    color: #353535;
    font-weight:250px;
}

.collection-text a{
    color: #BB3024;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #BB3024;
    padding-bottom: 10px;
}

.collection-item img{
    width: 350px;
    height: 400px; 
}

.collection-item p{
    width: 320px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 40px auto 0;
    display: block;
    line-height: 22.4px;
}



